alias: Pre-heat-automation test
description: ""
triggers:
  - trigger: time_pattern
    hours: "*"
    minutes: "3"
  - trigger: numeric_state
    entity_id:
      - sensor.temperature_humidity_sensor_e303_temperature
    for:
      hours: 0
      minutes: 5
      seconds: 0
    below: -3
  - trigger: numeric_state
    entity_id:
      - sensor.temperature_humidity_sensor_e303_temperature
    for:
      hours: 0
      minutes: 10
      seconds: 0
    above: -2
conditions: []
actions:
  - choose:
      - conditions:
          - condition: numeric_state
            entity_id: sensor.temperature_humidity_sensor_e303_temperature
            below: -20
        sequence:
          - action: input_select.select_option
            metadata: {}
            data:
              option: WAIT
            target:
              entity_id: input_select.auto_fan_state
            alias: Auto Fan State -> WAIT
      - conditions:
          - condition: numeric_state
            entity_id: sensor.temperature_humidity_sensor_e303_temperature
            below: -3
        sequence:
          - action: input_select.select_option
            metadata: {}
            data:
              option: HEAT
            target:
              entity_id: input_select.auto_fan_state
            alias: Auto Fan State -> HEAT
      - conditions: []
        sequence:
          - if:
              - condition: and
                conditions:
                  - condition: numeric_state
                    entity_id: input_number.min_temp_next_24h
                    below: input_number.min_temp_below_threshold
                  - condition: template
                    value_template: >-
                      {% set hours_pre =
                      states("input_number.hours_until_min_temp", rounded=false,
                      with_unit=false) | float %}

                      {% set dt =
                      as_datetime(state_attr("input_datetime.min_temp_24h_date_time",
                      "timestamp")) %}

                      {% set now = utcnow() %}

                      {{ (dt > now) and ((dt - now).total_seconds() <=
                      hours_pre*3600) }}
            then:
              - action: input_select.select_option
                metadata: {}
                data:
                  option: PREHEAT
                target:
                  entity_id: input_select.auto_fan_state
                alias: Auto Fan State -> PREHEAT
            else:
              - action: input_select.select_option
                metadata: {}
                data:
                  option: IDLE
                target:
                  entity_id: input_select.auto_fan_state
                alias: Auto Fan State -> IDLE
                enabled: true
  - action: notify.mobile_app_petris_ipad
    metadata: {}
    data:
      message: >-
        {% set hours_pre = states("input_number.hours_until_min_temp",
        rounded=false, with_unit=false) | float %}

        {% set dt =
        as_datetime(state_attr("input_datetime.min_temp_24h_date_time",
        "timestamp")) %}

        {% set now = utcnow() %}

        Set Auto Fan State to {{ states('input_select.auto_fan_state') }}

        Forecast 24h lowest temperature is {{
        states("input_number.min_temp_next_24h", rounded=false, with_unit=true)
        }} {%- if states("input_number.min_temp_next_24h") <
        states("input_number.min_temp_below_threshold") %} which is less than
        the {{ states("input_number.min_temp_below_threshold", rounded=false,
        with_unit=true) }} threshold {%- endif -%} .

        The 24h low will be at {{
        states("input_datetime.min_temp_24h_date_time") }} {%- if  (dt > now)
        and ((dt - now).total_seconds() <= hours_pre*3600) -%}, which is less
        than {{ states("input_number.hours_until_min_temp") }} hours out{%-
        endif -%}.

        The outside temperature is {{
        states('sensor.temperature_humidity_sensor_e303_temperature',
        rounded=false, with_unit=true)}}.
mode: single
